<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWENG861 Course Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Music template project">
</head>
<body>
    <div>
        <div class="super_container">

            @RenderBody()
            <!-- Footer -->

            <footer class="footer">
                <div class="background_image" style="background-image:url(Content/images/footer.jpg)"></div>
                <div class="footer_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">

                                <!-- Logo -->
                                <div class="logo">
                                    <a href="/" class="d-flex flex-row align-items-end justify-content-start">
                                        <span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
                                        <span class="logo_text"></span>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bar">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="copyright text-center">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;@DateTime.Now.Year Marc Sozynski | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/wp/template/music-2/" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>
    </div>
</body>
</html>
